/*
  main color [ navy ] : #212338;
  second color [ Beige ] : #c5ae8f
  third color [ Beige ] : #d1a594

*/

.sticky-header.header-middle.fixed,
.cart-table-container .btn-shop:hover, .cart-table-container .btn-sm:hover,
.cart-summary .btn-update-total:hover,
.all-pages .header-middle,
.product-default .btn-add-cart,
.bg-dark{
  background: #212338 !important;
}
.hidden{display: none;}
/*.main-nav .menu>li>a,header a,*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,a,
.widget-newsletter-title,
.section-title,
.dropdown-cart-header,
.dropdown-cart-total,
.product-default a,
.product-single-details .product-title,
.product-single-details .product-price,
a:focus, a:hover,
.footer .widget-title,
.checkout-progress-bar li.active+li a,
.checkout-progress-bar li.disabled a,
.checkout-progress-bar li.active a:hover,
.table.table-cart tr th, .table.table-wishlist tr th,
.table.table-cart .subtotal-price, .table.table-wishlist .subtotal-price,
.checkout-discount .btn-toggle, .login-form-container .btn-toggle,
.text-dark{
  color: #212338 !important;
}
.sticky-header.header-middle.fixed .main-nav .menu>li.active>a,
.sticky-header.header-middle.fixed .main-nav .menu>li.show>a,
.sticky-header.header-middle.fixed .main-nav .menu>li:hover>a,
.sticky-header.header-middle.fixed .main-nav .menu>li>a,
.sticky-header.header-middle.fixed a,
.home-slide1 h2,
#scroll-top.fixed:hover,
.checkout-progress-bar li.active a,
.checkout-progress-bar li.active+li a:hover,
.table.table-cart tr td, .table.table-wishlist tr td{
  color: #c5ae8f !important;
}
#scroll-top.fixed{
  border-color: #212338 !important;
  border-top-color: #212338 !important;
  border-right-color: #212338 !important;
  border-bottom-color: #212338 !important;
  border-left-color: #212338 !important;
  background: #212338 !important;
}
.btn-dark:not(:disabled):not(.disabled).active,
 .btn-dark:not(:disabled):not(.disabled):active,
 .show>.btn-dark.dropdown-toggle,
 .btn-dark{
  border-color: #212338 !important;
    background-color: #212338 !important;
     color: #c5ae8f !important;
 }
 .inner-icon figure .btn-icon:hover{
  border-color: #212338 !important;
  background-color: #212338 !important;
 }
 .product-single-filter .config-size-list li a:not(.disabled):hover{
         border-color: #212338 !important;
    background-color: #212338 !important;
 }
 footer .social-icon:not(:hover):not(:active):not(:focus){
  background: #212338 !important;
      color: #c5ae8f  !important;
 }
 .feature-boxes-container .feature-box p,
 .feature-boxes-container .feature-box h5{
      color: #1b1d34 !important;
 }
 .ratings-container .ratings:before{
  color: #c5ae8f !important;
 }
.price-box .old-price{
  color: #939393 !important;
  font-size: 1.5rem !important;
 }
 .product-single-details .new-price{font-size: 1.6rem !important;}
 .pages .main-nav .menu>li>a, .pages a,.pages .dropdown-cart-header,.pages .dropdown-cart-total{
  color: #c5ae8f !important;
 }
 .pages .header-middle{
height: 90px !important;
 }
 .pages .main-nav .menu>li.active>a,.pages .main-nav .menu>li>a:hover,
 .pages .main-nav .menu>li >a,.pages .main-nav .menu>li>a{
border: none !important;
 }
 
 .pages .container{
  max-width: none;
  padding-left: 4.28vw;
    padding-right: 4.28vw;
 }
 .all-pages a.btn-dark.focus,.all-pages a.btn-dark:focus,.all-pages a.btn-dark:hover,
 #scroll-top>i{
  color: #fff !important;
}
.all-pages .cart-table-container .btn-shop, .cart-table-container .btn-sm,
.cart-summary .btn-update-total,
.subscribe-btn{
    background-color: #c5ae8f;
    color: #fff;
}
.product-default .btn-add-cart{
  color: #FFF !important;
}
.footer .widget li, .footer .widget li a,
.btn-dark.focus, .btn-dark:focus, .btn-dark:hover{
  color: #fff !important;
}
.footer .widget-title{
  color: #c5ae8f !important;
}
,
.footer .widget li a:hover{color: #d1a594 !important;}
.subscribe-btn:hover{background: #212338 !important;}
.footer .widget-newsletter .form-control{
  background-color: transparent;
    color: #c5ae8f !important;
    border: 1px solid #c5ae8f;
}
.home-banner>img{
  min-height: 428px !important;
}
.custom-subscription{
  height: 4.4rem;
    padding: 0.8rem 2.4rem;
    border: 0;
    border-radius: 5rem;
    background: #292c30;
}
.custom-subscription-btn{
  padding: 1.2rem 2.7rem;
    border-radius: 5rem;
    font-size: inherit;
    font-family: "Open Sans",sans-serif;
}
.inner-quickview figure .btn-quickview{
  color: #fff !important;
  cursor: pointer;
}
.modal#addCartModal{
  min-width: 350px;
}
.modal-body{
  max-height: inherit !important;
}
.quantity-col,.price-col{
    vertical-align: initial !important;
}
.checkout-progress-bar.justify-content-center{
        justify-content: left !important;
}
tr.product-row td{
  color: #444 !important;
}
.header-icon:not(:last-child){
  margin-left: 1.2rem;
}
.account-dropdown .dropdown-arrow:after{
  display: none !important;
}
.account-dropdown .dropdown-item{
  margin-bottom: 3px;
    font-size: 14px;
}
.header-icon.header-icon-user{font-size: 14px;}
.wishlist-table-container .btn-quickview:hover{
  background: #212338;
  color: #fff !important;
}
.widget-dashboard .nav-item:last-child{
  margin-right: 0;
}
.card-header{
  margin: 0;
    padding: 1.2rem 1.5rem;
    border-radius: 0;
    border-color: #ddd;
    background-color: #f5f5f5;
    color: #141a1f;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}
.card-body {
    min-height: 135px;
    padding: 2rem 1.5rem;
    border-top: 0;
    border-radius: 0;
}
.checkout-progress-bar{
  display: block;
    margin: 0 0 3rem;
    font-size: 0;
    line-height: 1.4;
    counter-reset: i;
    text-align: center;
}
.checkout-progress-bar li{
  display: inline-block;
    position: relative;
    /*width: 50%;*/
    width: 185px;
    margin: 0;
    text-align: center;
    vertical-align: top;
}
.checkout-progress-bar li::before,
.checkout-progress-bar li:not(:first-child):before {
    background-color: #c1c1c1;
    top: 1.9rem;
    transition: background 0.3s;
    content: "";
    height: 0.7rem;
    left: 0;
    position: absolute;
    width: 100%;
    
}
.checkout-progress-bar li:not(:first-child) {
    margin-left: 0 !important;
}

.checkout-progress-bar li:first-child::before {
    border-radius: 0.6rem 0 0 0.6rem;
}
.checkout-progress-bar li>span {
    display: inline-block;
    padding-top: 4.5rem;
    width: 100%;
    word-wrap: break-word;
    color: #999;
    font-weight: 300;
    font-size: 1.6rem;
}
.checkout-progress-bar li.active::before,
 .checkout-progress-bar li.active>span::before{
      background-color: #ff5501;
 }
 .checkout-progress-bar li>span::before{
  background-color: #c1c1c1;
    height: 3.8rem;
    width: 3.8rem;
    margin-left: -1.9rem;
    position: absolute;
    top: 0;
    left: 50%;
    transition: background 0.3s;
    border-radius: 50%;
    content: "";
 }
 .checkout-progress-bar li>span::after{
    background: #ffffff;
    height: 2.6rem;
    width: 2.6rem;
    margin-left: -1.3rem;
    top: 0.6rem;
    content: counter(i);
    counter-increment: i;
    color: #777;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transition: background 0.3s;
    border-radius: 50%;
 }
 .rating-form{
  margin-bottom: 20px;
 }
 .rating-form label{
  width: 50%;
  float: left;
 }
 .rating-form .rating-stars{
  width: 50%;
  float: right;
 }
 .location{

 }
  .location iframe{
    width: 100%;
  }
.mobile-menu li a,
.mobile-menu-toggler{color: #fff !important;}
.home-slide:after,.home-slide:before{display: none;}
/*Home Slider*/
.header-slider-custom .slide-bg, .header-slider-custom{
  height: 100vh;
}
.header-slider-custom.owl-carousel.nav-big .owl-nav{    font-size: 2.4rem;}
.owl-carousel.header-slider-custom .owl-nav{color: #333;}
.header-icon{font-size: 15px;}
footer a:focus, footer a:hover {
    color: #f7f7f7 !important;
}
footer a.footer-copyright{color: #f7f7f7 !important;}
 .checkout-breadcrumbs{margin: 1.9rem;}
.checkout-breadcrumbs li::before{
  top: 2.9rem !important;
}
.product-category img{
  border-radius: 50% !important;
}
.main-nav .menu > li > a,
.sticky-header.header-middle.fixed .main-nav .menu>li>a:hover, .sticky-header.header-middle.fixed a:hover{color: #212338 !important;}
.main-nav .menu > li.active > a:hover, .main-nav .menu > li > a:hover,
.main-nav .menu > li.active > a, .main-nav .menu > li > a:hover{
  border-top-color: #c5ae8f !important;
}
.main-nav .menu > li > a:hover{
  background: #c5ae8f !important;
  color: #212338 !important;
}
.dropdown-arrow:after{
  display: none !important;
}
.cats-slider .owl-stage-outer{
direction: ltr !important;
}
.product-price{
  color: #212338 !important;
}
.inner-icon figure .btn-icon{
  visibility: visible !important;
  opacity: 1 !important;
  color: #FFF !important;
  background: #212338 !important;
}

.contact-us-widget span {
    display: inline-block !important;
    margin-left: 5px;
}
.home .product-default .btn-add-cart i{
  display:block !important;
}
footer .apple-pay-icon{
  line-height: 30px !important;
    text-align: center !important;
    color: #fff !important;
    filter: none !important;
    background-color: #292c33 !important;
}
.breadcrumb-item+.breadcrumb-item,.cat-list li a{
  font-size: 16px;
}
.badge-circle{background-color: #c5ae8f !important;}
.header-right  a:hover{color: #fff !important;}
.contact-info{
          padding: 50px 0 60px;
    background: linear-gradient(360deg, rgba(0, 113, 220, 0.06) 40.94%, rgba(229, 241, 251, 0) 100%);

}
.contact-info h2{margin: 30px 0;}
.contact-info .boxs{margin: 30px 0;}
.contact-info .boxs .feature-box{padding: 30px;}
.contact-info .boxs .feature-box .image-circle{
    background-color: #212338;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 10px 4px rgb(0 0 0 / 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
    margin: 10px auto;
    position: relative;
}
.contact-info .boxs .feature-box .image-circle i{color: #c5ae8f;margin-top: 10px;}
.contact-info .feature-box-content{
  background: #fff;
      box-shadow: 0px 4px 5px 5px #e5f1fb;
    border-radius: 8px;
    padding: 20px;
    padding-top: 80px;
    margin-top: -50px;
}
.product-variants-list{}
.product-variants-list .product-variants{
  display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 4px solid transparent;
    margin: 5px;
    color: #c5ae8f;
    cursor: pointer;
}
.product-variants-list .product-variants.active{
  border: 4px solid #c5ae8f;
}
footer .payment-icons .payment-icon{
  width: 82px;
}
footer .contact-info{
  background: transparent !important;
}
.add-product-review a.btn.btn-primary{
  color: #c5ae8f !important;
}
.product-default .product-action a.btn-icon-wish{
    left: -40px !important;
    opacity: 1 !important;
}
.product-default .product-action a.btn-quickview{
        right: -40px !important;
      opacity: 1 !important;
}
.inner-quickview figure .btn-quickview{
  background-color: #212338 !important;
}
header{    border: 0 !important;}
/*media*/
@media (max-width: 576px){
  .mmenu-btn{
    right: 3.7rem !important;
  }
  footer .payment-icons .payment-icon{
    width: 50px !important;
  }
  .home-slide .slide-bg, .home-slider,
  .header-slider-custom .slide-bg, .header-slider-custom{ height: auto !important}
}
.login-user-icon{
      margin-left: 0 !important;
    margin-right: 0 !important;
}
.main-nav .menu > li:first-child > a{padding-left: 15px !important;}
.breadcrumb-item a, .breadcrumb-item{font-size: 16px !important;}
.mobile-menu li a, .mobile-menu-toggler{
  color: #c5ae8f !important
}
.mobile-menu-container{
  background-color: #212338 !important;
}
.social-icons .social-icon{
background: #212338 !important;
    color: #c5ae8f !important;
}
.social-icons .social-icon.social-facebook:hover{
background-color: #3b5a9a !important;
color: #fff !important;
}
.social-icons .social-icon.social-twitter:hover{
background-color: #1aa9e1 !important;
color: #fff !important;
}
.social-icons .social-icon.social-instagram:hover{
background-color: #7c4a3a !important;
color: #fff !important;
}
.mobile-menu-container .search-wrapper .form-control{
  background: transparent !important;
      color: #c5ae8f !important;
    border: 1px solid #c5ae8f;
}
.category-banner{
    margin-top: 0 !important;
}
footer{
      margin-bottom: 0 !important;
}
.mada-icon{filter: none  !important; opacity: 1 !important;}